@font-face {
  font-family: 'thronesdb';
  font-weight: 400;
  font-style: normal;
  src: url('./fonts/thronesdb.eot');
  src: url('./fonts/thronesdb.eot#iefix') format('embedded-opentype'),
       url('./fonts/thronesdb.ttf') format('truetype'),
       url('./fonts/thronesdb.woff') format('woff'),
       url('./fonts/thronesdb.svg#thronesdb') format('svg');
}
html, body {
  overflow: hidden;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}
h1 {
  font-weight: bold;
  text-align: center;
  font-size: 3rem;
  margin: 0;
  padding: 0;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
}
#timer:target + #config,
#timer,
#pairings:target + #config,
#pairings {
  display: none;
}
#timer:target,
#pairings:target {
  display: block;
}
#config {
  font-size: 16px;
  padding: 16px;
}
.set {
  display: flex;
  margin-bottom: 8px;
}
.set label {
  width: 250px;
  text-align: right;
  padding-right: 10px;
  box-sizing: border-box;
}
.set >:first-child:not(label) {
  margin-left: 250px;
}