@font-face {
  font-family: 'thronesdb';
  font-weight: 400;
  font-style: normal;
  src: url('./fonts/thronesdb.eot');
  src: url('./fonts/thronesdb.eot#iefix') format('embedded-opentype'),
       url('./fonts/thronesdb.ttf') format('truetype'),
       url('./fonts/thronesdb.woff') format('woff'),
       url('./fonts/thronesdb.svg#thronesdb') format('svg');
}

html, body {
  overflow: hidden;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-size: 30px;
}
h1 {
  font-weight: bold;
  text-align: center;
  font-size: 3rem;
  margin: 0;
  padding: 0;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
}
#pairings:target + #config,
#pairings {
  display: none;
}
#pairings:target {
  display: block;
}