.bgVideo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  min-width: 100%;
  min-height: 100%;
  display: none;
}
#pairings:target ~ .bgVideo {
	display: block;
}
#pairings {
  color: #fff;
}