@import "../ThronesDB/theme.css";

@font-face {
  font-family: 'Schwabacher';
  font-weight: normal;
  font-style: normal;
  src: url('assets/fonts/schwabacher.eot');
  src: url('assets/fonts/schwabacher.eot#iefix') format('embedded-opentype'),
       url('assets/fonts/schwabacher.ttf') format('truetype'),
       url('assets/fonts/schwabacher.woff') format('woff'),
       url('assets/fonts/schwabacher.svg') format('svg');
}

#pairings {
  background-image: url('assets/img/bg.jpg');
  background-size: cover;
}
#pairings h1 {
	font-family: Schwabacher;
	height: 4rem;
	font-size: 5rem;
	line-height: 3rem;
}
h1 {
  text-shadow: 1px 1px #000, -1px 1px #000, 1px -1px #000, -1px -1px #000, 0 0 .2rem #000 ;
  background-image: url('assets/img/logo.png');
  background-repeat: no-repeat;
  background-size: contain;
}
.pairings > li::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  box-shadow: .1rem .1rem .2rem rgba(0, 0, 0, 1);
  border-radius: .2rem;
  z-index: -1;
}